// default params
params.cpus = 1
params.vcf = null
params.input = params.vcf
params.vep_config = null
params.filters = null
params.outdir = "outdir"
params.output_prefix = null
params.bin_size = 100
params.sort = false
params.help = false
params.vep_version = 'latest'

params.max_memory = '64 GB'
params.max_time= '48.h'
params.max_cpus= '36'


singularity {
	enabled = true
}

profiles {
    local {
        process.executor = 'local'
        executor.queueSize = 3   // limit concurrency (optional)
    }
}
 
process {
  cpus = 1
  memory = '4GB'
  time = '8h'

  maxRetries = 3
  errorStrategy = { (task.attempt <= process.maxRetries)  ? 'retry' : 'finish' }

  executor = 'slurm'

  //clusterOptions = '-A park_contrib'
  //queue = 'park'

  clusterOptions = '-A park'
  queue = {
		if (task.cpus > 20) {
    	    'park'
    	}
    	else if (task.time > 12.h) {
    	    'medium,park'
    	}
    	else {
    	    'short,park'
    	}
	}

  //memory = {  task.memory * task.attempt }
  //time = {  task.time * task.attempt }

  withLabel: bcftools {
    container = '/n/app/containers/users/cos689/quay.io-singularity-bcftools-1.17--haef29d1_0.img'
  }

  withLabel: vep {
    container = '/n/app/containers/users/cos689/vep_latest.sif'
	containerOptions = '--bind /n/data1/hms/dbmi/park/corinne/ref/vep_data:/vep_data --bind /n/data1/hms/dbmi/park/SOFTWARE/gnomAD/4.1:/custom_ann'
  }

	withName: 'run_minipileup_sr_only' {
		memory = { check_max( 8.GB * task.attempt, 'memory' ) }
	    time = { check_max( 6.h * task.attempt, 'time' ) }
	    cpus = { check_max( 10 * task.attempt, 'cpus' ) }
	}

	withName: 'merge_callers' {
		memory = { check_max( 16.GB * task.attempt, 'memory' ) }
	    time = { check_max( 30.m * task.attempt, 'time' ) }
	    cpus = 1
	}

	withName: 'run_minipileup_parallel' {
		memory = { check_max( 8.GB * task.attempt, 'memory' ) }
	    time = { check_max( 2.h * task.attempt, 'time' ) }
	    cpus = { check_max( 15 * task.attempt, 'cpus' ) }
	}
}

executor {
    name = 'slurm'
    queueSize = 50000
}


// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
