// default params
params.cpus = 1
params.vcf = null
params.input = params.vcf
params.vep_config = null
params.filters = null
params.outdir = "outdir"
params.output_prefix = null
params.bin_size = 100
params.sort = false
params.help = false
params.vep_version = 'latest'


singularity {
	enabled = true
}
 
process {
  cpus = 1
  memory = '4GB'
  time = '8h'

  maxRetries = 3
  errorStrategy = { (task.attempt <= process.maxRetries)  ? 'retry' : 'finish' }

  executor = 'slurm'
  clusterOptions = '-A park'
  queue = {
		if (task.cpus > 20) {
    	    'park'
    	}
    	else if (task.time > 12.h) {
    	    'medium,park'
    	}
    	else {
    	    'short,park'
    	}
	}

  memory = {  task.memory * task.attempt }
  time = {  task.time * task.attempt }

  withLabel: bcftools {
    container = '/n/app/containers/users/cos689/quay.io-singularity-bcftools-1.17--haef29d1_0.img'
  }

  withLabel: vep {
    container = '/n/app/containers/users/cos689/vep_latest.sif'
	containerOptions = '--bind /n/data1/hms/dbmi/park/corinne/ref/vep_data:/vep_data --bind /n/data1/hms/dbmi/park/SOFTWARE/gnomAD/4.1:/custom_ann'
  }

	withName: 'splitVCF' {
		memory = 200.MB
		time = 5.m
	}
	withName: 'generateSplits' {
        memory = 1.GB
        time = 1.h	
	}
}

executor {
    name = 'slurm'
    queueSize = 50000
}


